## Part 1: Preprocessing

In [15]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [16]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [17]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [18]:
# Create a list of at least 10 column names to use as X data
X_columns = ['Age', 'BusinessTravel', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MaritalStatus']


# Create X_df using your selected columns
X_df = attrition_df[X_columns]

# Show the data types for X_df
X_df.dtypes

Age                         int64
BusinessTravel             object
DistanceFromHome            int64
Education                   int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
JobSatisfaction             int64
MaritalStatus              object
dtype: object

In [19]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=78)

In [20]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

# Convert categorical columns to numeric using one-hot encoding
X_train_encoded = pd.get_dummies(X_train)
X_test_encoded = pd.get_dummies(X_test)

# Align the columns of the test set to match the training set
X_test_encoded = X_test_encoded.reindex(columns = X_train_encoded.columns, fill_value=0)

# Print the updated X_train_encoded and X_test_encoded DataFrames
print(X_train_encoded.head())
print(X_test_encoded.head())

      Age  DistanceFromHome  Education  EnvironmentSatisfaction  HourlyRate  \
591    33                16          3                        1          69
267    25                 5          2                        2          85
1236   36                13          5                        2          96
788    28                10          3                        3          59
1224   26                17          4                        4          62

      JobInvolvement  JobLevel  JobSatisfaction  BusinessTravel_Non-Travel  \
591                3         2                1                      False
267                4         2                1                       True
1236               2         2                1                      False
788                3         2                3                      False
1224               1         1                3                      False

      BusinessTravel_Travel_Frequently  BusinessTravel_Travel_Rarely  \
591                              False                          True
267                              False                         False
1236                             False                          True
788                              False                          True
1224                             False                          True

      MaritalStatus_Divorced  MaritalStatus_Married  MaritalStatus_Single
591                    False                  False                  True
267                     True                  False                 False
1236                    True                  False                 False
788                    False                  False                  True
1224                   False                   True                 False
      Age  DistanceFromHome  Education  EnvironmentSatisfaction  HourlyRate  \
471    38                10          3                        3          76
1090   29                 8          1                        3          39
441    42                 5          2                        2          97
979    34                29          3                        2          86
1085   31                 3          3                        4          33

      JobInvolvement  JobLevel  JobSatisfaction  BusinessTravel_Non-Travel  \
471                3         2                3                      False
1090               1         2                1                      False
441                3         1                3                      False
979                3         2                3                      False
1085               3         1                3                      False

      BusinessTravel_Travel_Frequently  BusinessTravel_Travel_Rarely  \
471                              False                          True
1090                             False                          True
441                               True                         False
979                              False                          True
1085                              True                         False

      MaritalStatus_Divorced  MaritalStatus_Married  MaritalStatus_Single
471                    False                   True                 False
1090                   False                   True                 False
441                    False                   True                 False
979                    False                   True                 False
1085                   False                  False                  True

In [21]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_test_scaled = scaler.transform(X_test_encoded)

# Scale the training and testing data
print(X_train_scaled[:5])
print(X_test_scaled[:5])

[[-0.40942386  0.87475435  0.10528682 -1.54673288  0.12842688  0.38047011
  -0.02218292 -1.54172867 -0.33801897 -0.47231924  0.63125047 -0.52906246
  -0.91972613  1.44758613]
 [-1.29889668 -0.50720476 -0.88638904 -0.63425984  0.9190773   1.79218077
  -0.02218292 -1.54172867  2.95841383 -0.47231924 -1.58415723  1.890136
  -0.91972613 -0.69080518]
 [-0.07587155  0.49785641  2.08863855 -0.63425984  1.46264946 -1.03124054
  -0.02218292 -1.54172867 -0.33801897 -0.47231924  0.63125047  1.890136
  -0.91972613 -0.69080518]
 [-0.96534437  0.12095847  0.10528682  0.27821319 -0.36572963  0.38047011
  -0.02218292  0.26186474 -0.33801897 -0.47231924  0.63125047 -0.52906246
  -0.91972613  1.44758613]
 [-1.18771258  1.000387    1.09696269  1.19068623 -0.21748267 -2.4429512
  -0.92757456  0.26186474 -0.33801897 -0.47231924  0.63125047 -0.52906246
   1.08728019 -0.69080518]]
[[ 0.14649666  0.12095847  0.10528682  0.27821319  0.47433644  0.38047011
  -0.02218292  0.26186474 -0.33801897 -0.47231924  0.63125047 -0.52906246
   1.08728019 -0.69080518]
 [-0.85416027 -0.13030682 -1.87806491  0.27821319 -1.35404265 -2.4429512
  -0.02218292 -1.54172867 -0.33801897 -0.47231924  0.63125047 -0.52906246
   1.08728019 -0.69080518]
 [ 0.59123307 -0.50720476 -0.88638904 -0.63425984  1.51206511  0.38047011
  -0.92757456  0.26186474 -0.33801897  2.1172121  -1.58415723 -0.52906246
   1.08728019 -0.69080518]
 [-0.29823975  2.50797876  0.10528682 -0.63425984  0.96849295  0.38047011
  -0.02218292  0.26186474 -0.33801897 -0.47231924  0.63125047 -0.52906246
   1.08728019 -0.69080518]
 [-0.63179206 -0.75847005  0.10528682  1.19068623 -1.65053655  0.38047011
  -0.92757456  0.26186474 -0.33801897  2.1172121  -1.58415723 -0.52906246
  -0.91972613  1.44758613]]

In [22]:
from sklearn.preprocessing import OneHotEncoder
# Create a OneHotEncoder for the Department column
department_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

# Fit the encoder to the training data
department_encoder.fit(y_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_department = department_encoder.transform(y_train[['Department']])
y_test_department = department_encoder.transform(y_test[['Department']])

y_train_department[:5]
y_test_department[:5]

/Users/jamiemcgraner/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [23]:
# Create a OneHotEncoder for the Attrition column
attrition_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

# Fit the encoder to the training data
attrition_encoder.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attrition = attrition_encoder.transform(y_train[['Attrition']])
y_test_attrition = attrition_encoder.transform(y_test[['Attrition']])

y_train_attrition[:5]
y_test_attrition[:5]

/Users/jamiemcgraner/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.]])

## Create, Compile, and Train the Model

In [24]:
# Find the number of columns in the X training data
num_features = X_train_scaled.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(num_features,))

# Create at least two shared layers
shared_layer1 = layers.Dense(units=10, activation='relu')(input_layer)
shared_layer2 = layers.Dense(units=5, activation='relu')(shared_layer1)

In [32]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_hidden_layer = layers.Dense(units=5, activation='relu')(shared_layer2)

# Create the output layer
department_output_layer = layers.Dense(units=y_train_department.shape[1], activation='softmax', name='department_output')(department_hidden_layer)

In [33]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_hidden_layer = layers.Dense(units=5, activation='relu')(shared_layer2)

# Create the output layer
attrition_output_layer = layers.Dense(units=y_train_attrition.shape[1], activation='softmax', name='attrition_output')(attrition_hidden_layer)

In [34]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output_layer, attrition_output_layer])

# Compile the model
model.compile(optimizer='adam', loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'categorical_crossentropy'}, metrics=['accuracy'])

# Summarize the model
model.summary()

Model: "functional_1"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_layer_1       │ (None, 14)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_2 (Dense)     │ (None, 10)        │        150 │ input_layer_1[0]… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_3 (Dense)     │ (None, 5)         │         55 │ dense_2[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_5 (Dense)     │ (None, 5)         │         30 │ dense_3[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_6 (Dense)     │ (None, 5)         │         30 │ dense_3[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 3)         │         18 │ dense_5[0][0]     │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 2)         │         12 │ dense_6[0][0]     │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 295 (1.15 KB)

 Trainable params: 295 (1.15 KB)

 Non-trainable params: 0 (0.00 B)

In [28]:
# Train the model

In [29]:
# Evaluate the model with the testing data

In [30]:
# Print the accuracy for both department and attrition

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.